<body class="webpage">
  <header>
    <div class="top-nav">
      <h1 class="title">To Do List ❣</h1>
    </div>
  </header>

  <main>
    <div class="input-wrapper"> 
      <input [(ngModel)]="newTask" type="text" placeholder="Enter Task Here">
      <button class="add-Button" (click)="addToList()"> Add Task! </button>
    </div>

    <div class="task-list">
      <ul>
        <li *ngFor="let task of items; let i = index">
          <button class="task-info"> ℹ️ </button>
          <span> {{ task }} </span> 
          <button class="task-done" (click)="confirmTask(i)"> Done </button>
        </li>
      </ul>
    </div>   
    
    <div *ngIf="showPopup" class="pop-up-overlay">
      <div class="popup-box">
        <button class="close-btn" (click)="closePopup()">✖</button>
        <h3>Finished doing <strong>{{ selectedTaskName }}</strong>?</h3>
        <div class="popup-buttons">
          <button class="cancel-btn" (click)="closePopup()">Nope!!</button>
          <button class="confirm-btn" (click)="deleteTask()">YEEEEE!</button>
        </div>
      </div>
    </div>
  </main>
</body>
